{% extends 'dashboardbase.html' %}

{% block content %}

<!---profile -->

 <div class="card profile-box d-flex flex-column align-items-center justify-content-center">
 <div class="profile card-body d-flex flex-column align-items-center justify-content-center">
    <img src="#" alt="" class="card-image">
    <div class="details">
        <h5 class="card-title">name</h5>
        <p class="card-text">email</p>
        <p class="card-text">gender</p>
        <p class="card-text">bldgrp</p>
        <p class="card-text">address</p>
        
    </div>

    

   
  </div>
</div>
{% endblock %}
