
:root {
  --card-bg: #F1FCFC;                
  --btn-bg: #00796B;            
  --primary-color:rgb(148, 145, 144);       
  --text-color: #263238;        
  --text-muted: #607D8B;       
  --highlight-color:rgb(107, 88, 246); 
  --emerald:#046307;
  --emerald-light:#6fe28d;   

  

 

  --gradient-pastel-lavender-blue: linear-gradient(135deg, #E6E6FA, #B3CDE0); 

  --gradient-pastel-pink-peach: linear-gradient(135deg, #FFD1DC, #FFE5B4); 


 --gradient-pastel-blue-mint: linear-gradient(135deg, #A8E6CF, #DCEDC1); 
 --gradient-pastel-aqua-yellow: linear-gradient(135deg, #CFFAFE, #FFF9C4);
 
 

--gradient-white-blue: linear-gradient(135deg, #FFFFFF, #E3F2FD);
--gradient-white-aqua: linear-gradient(135deg, #FFFFFF, #E0F7FA);
}



body{
    overflow-x: hidden;
    background-image: var(--gradient-white-aqua);
    padding: 0;
    margin: 0;
}


.homecard{
    background-color:var(--highlight-color);
    border: 2px solid var(--card-border);
    border-radius: 30px;
    height:200px;
    color:var(--card-bg);
    box-shadow:0 0  1rem var(--text-color) ;
    
}
.homebtn{
    background: var(--gradient-pastel-blue-mint);
    color: var(--text-color);
    font-size: larger;
    font-weight: bolder;
    border-radius: 30px;
}
.homecard .homecardbody{
 
  justify-content: center;
}


/*--------------home content--------------*/

.homecontent{
    
    display: flex;
    gap:20px;
   margin: 0 1px;
    background-color: var(--highlight-color);
    border-radius: 100px;
    color: var(--card-bg);
}
.subheading{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text-color);
    text-align: center;
}
.homecontent .title{
    font-size: 1.2rem;
    font-weight: bolder;
}
.homecontent .reason{
    font-size: 1.1rem;
    line-height: 2;
}
.donate{
    width: 100%;
    height: 500px;
    border-radius: 30px;
    
}
.donateimgdiv{
    display: flex;
    align-items: center;
    margin:60px;
    /* border:2px solid white; */
    margin-left:100px
    
}
.textcont{
    margin-top: 5rem;
    /* border:2px solid white; */
    margin-left: 30px;
}
.odlist{
    margin-top: 3rem;
}

.accordion-button img {
    transition: transform 0.2s;
}

.accordion-button img:hover {
    transform: scale(1.05);

}
.bld{
    width: 300px;
    height: 300px;

}
.acc{
    /* background-color: #046307; */
    width: 300px;
    height: 300px;
    padding-left:100px;
    margin-bottom: 3rem;
}
 
 .accordion-button {
   
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    

}
.accordion-item {
    border: none !important;
    /* background-color: blueviolet; */
}


.accordion-button img {
    display: block;
    width: 100%;  
    height: auto;
    cursor: pointer;
}



.lastcont{
    margin-top: 5rem;
}
.homelast{
    margin-top: 3rem !important;
    
}
.accbox{
    color: rgb(224, 39, 39)
}
.accbox2{
    color: var(--emerald);
}
.compatibility{
    margin-top: 3rem;
    padding-top: 3rem;
}

